version: "3.9"

services:
  backend:
    build: ./backend
    image: meriemichiri/react-flask-mongo-pipeline-backend:latest
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    image: meriemichiri/react-flask-mongo-pipeline-frontend:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend

  mongo:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
